.hide {
    display: none;
}

.close {
    border-radius: 3px;
    border-color: black;
}

.prod-id {
    display: none;
}

.count {
    border-radius: 4px;
    background-color: rgba(250, 122, 0, 0.60);
    padding: 3px;
    padding-right: 6px;
    color: #ffffff;
}

.cinfo{
    position: absolute; 
    top:2px;
    left:7px;
    background-color:#FE980F; 
    padding:5px;
    border-radius:5px;
    color:white;
}
