@model Hozor.ViewModels.Public.ChangePasswordViewModel

@{
    ViewData["Title"] = " تغيير رمز";
}


<section class="panel">
    <header class="panel-heading">
         تغيير رمز كاربر: @ViewBag.UserName
    </header>
    <div class="panel-body">

        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <fieldset>

                <div class="form-group">
                    <label asp-for="Password" class="control-label col-md-2"></label>
                    <div class="col-md-4">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="RePassword" class="control-label col-md-2"></label>
                    <div class="col-md-4">
                        <input asp-for="RePassword" class="form-control" />
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>
                </div>

                <div id="buttons">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" value="ثبت" />
                        @Html.ActionLink("بازگشت به فهرست", "Index")
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</section>