@model Hozor.ViewModels.Public.RegisterViewModel

@{
    ViewData["Title"] = "افزودن کاربر";
}



<section class="panel">
    <header class="panel-heading">
        افزودن کاربر
    </header>
    <div class="panel-body">



        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row col-lg-6">

                <div class="form-group">
                    <label asp-for="UserName" class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="IsActive" class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control", @style = "width:15px" } })
                    </div>
                </div>

            </div>

            <div class="row col-lg-6">

                <div class="form-group">
                    <label asp-for="Password" class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="RePassword" class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        <input asp-for="RePassword" class="form-control" />
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

                <div id="buttons">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" value="ثبت" />
                        @Html.ActionLink("بازگشت به فهرست", "Index")
                    </div>
                </div>

        </form>
    </div>
</section>


