
@{
    ViewData["Title"] = "Index";
}



<div class="text-center img-home-div col-md-3 col-lg-2 col-sm-4 col-xs-12">
    <a href="#">
        <img src="/Images/1.png" class="img-fluid rounded-circle shadow-1 mb-3 img-home" title="ویکتوریا">
    </a>
    <h6 class="mb-0 text-white text-shadow-dark">ویکتوریا بیکر</h6>

</div>

<div class="text-center img-home-div col-md-3 col-lg-2 col-sm-4 col-xs-12">
    <a href="#">
        <img src="/Images/1.png" class="img-fluid rounded-circle shadow-1 mb-3 img-home" title="ویکتوریا">
    </a>
    <h6 class="mb-0 text-white text-shadow-dark">ویکتوریا بیکر</h6>

</div>
<div class="text-center img-home-div col-md-3 col-lg-2 col-sm-4 col-xs-12">
    <a href="#">
        <img src="/Images/1.png" class="img-fluid rounded-circle shadow-1 mb-3 img-home" title="ویکتوریا">
    </a>
    <h6 class="mb-0 text-white text-shadow-dark">ویکتوریا بیکر</h6>

</div>

<div class="text-center img-home-div col-md-3 col-lg-2 col-sm-4 col-xs-12">
    <a href="#">
        <img src="/Images/1.png" class="img-fluid rounded-circle shadow-1 mb-3 img-home" title="ویکتوریا">
    </a>
    <h6 class="mb-0 text-white text-shadow-dark">ویکتوریا بیکر</h6>

</div>

<div class="text-center img-home-div col-md-3 col-lg-2 col-sm-4 col-xs-12">
    <a href="#">
        <img src="/Images/1.png" class="img-fluid rounded-circle shadow-1 mb-3 img-home" title="ویکتوریا">
    </a>
    <h6 class="mb-0 text-white text-shadow-dark">ویکتوریا بیکر</h6>

</div>

<div class="text-center img-home-div col-md-3 col-lg-2 col-sm-4 col-xs-12">
    <a href="#">
        <img src="/Images/1.png" class="img-fluid rounded-circle shadow-1 mb-3 img-home" title="ویکتوریا">
    </a>
    <h6 class="mb-0 text-white text-shadow-dark">ویکتوریا بیکر</h6>

</div>

<div class="text-center img-home-div col-md-3 col-lg-2 col-sm-4 col-xs-12">
    <a href="#">
        <img src="/Images/1.png" class="img-fluid rounded-circle shadow-1 mb-3 img-home" title="ویکتوریا">
    </a>
    <h6 class="mb-0 text-white text-shadow-dark">ویکتوریا بیکر</h6>

</div>

<div class="text-center img-home-div col-md-3 col-lg-2 col-sm-4 col-xs-12">
    <a href="#">
        <img src="/Images/1.png" class="img-fluid rounded-circle shadow-1 mb-3 img-home" title="ویکتوریا">
    </a>
    <h6 class="mb-0 text-white text-shadow-dark">ویکتوریا بیکر</h6>

</div>

