@model Hozor.ViewModels.Public.EditUserRoleViewModel

@{
    ViewBag.Title = "ویرایش دسترسی کاربر";
}


<section class="panel">
    <header class="panel-heading">
        ویرایش دسترسی کاربر
    </header>
    <div class="panel-body">
        <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="UserName" />
            <fieldset>

                <div class="form-group">
                    <label asp-for="UserName" class="control-label col-md-2">نام کاربری</label>
                    <div class="col-md-4">
                        <input asp-for="UserName" class="form-control"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">گروه های کاربری:</label>
                    <div class="col-md-4">
                        @foreach (var role in Model.Roles)
                        {
                            <label>
                                <input type="checkbox" name="SelectedRoles[]" value="@role.Id"
                                       @if (Model.SelectedRoles.Contains(role.RoleName))
                                       {
                                           <text> checked="checked" </text>
                                       }/> @role.RoleName
                            </label>
                            <br/>
                        }
                    </div>
                </div>

                <div id="buttons">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" value="ثبت"/>
                        @Html.ActionLink("بازگشت به فهرست", "Index")
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</section>


