/*------------------------------------------------------------------
	Project:	ElabMarket
	Version:	1
	coder :		PayamSalami.ir
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	general
-------------------------------------------------------------------*/
@font-face {
    font-family: "yekan";
    src: url(../fonts/Yekan.eot);
    src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/Yekan.woff) format("woff"), url(../fonts/Yekan.ttf) format("truetype"), url(../fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

body{
	font-family: yekan;
	background: #f2f2f2 url(../img/bg.png);
		
}
a{
	text-decoration: none;
	color: #16bacf;
}
a:hover{
	text-decoration: none;
	color: #f14f49;
}
a,
input,
textarea,
button{
	outline: none !important;
	text-decoration: none !important;
}
.tahoma{
	font-family: tahoma;
}
.more-link{
	display: inline-block;
	float: left;
	margin: 5px 0 0;
	color: #b0b0b0 !important;
	background: #efefef;
	padding: 3px 6px;
	font-size: .9em;
	text-shadow: 1px 1px 0 #FFF;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
			transition: all .5s ease;
}
.more-link .glyphicon{
	position: relative;
	top: 3px;
	margin: 0 0 0 5px;
}
.more-link:hover{
	color: #FFF !important;
	background: #16bacf;
	text-shadow: none;
}
.text-ltr{
	text-align: left;
}
.text-bold{
	font-weight: bold;
}
.form-control-feedback{
	color: #ccc;
}
label{
	color: #767676;
}
.form-control:focus {
  border-color: #16bacf;
  outline: 0;
  background: #fdfdfd;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.modal-title{
	color: #717171;
	font-size: 1.5em;
}
.modal-title .glyphicon{
	margin-left:  10px;
}
.table-items{
	margin: 20px 0 5px;
}
.table-items .action-link{
	margin: 0 5px;
}
textarea{
	min-height: 100px;
}
/*------------------------------------------------------------------
	BootStrap fix
-------------------------------------------------------------------*/
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.clearfix{
	clear: both;
}
.btn{
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,.3);
	   -moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,.3);
			box-shadow: inset 1px 1px 0 rgba(255,255,255,.3);
}
.btn-default{
	background-color: #ebebeb;
}
.btn-primary{
	background-color: #16bacf;
	border-color: #09a0b3;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #10a9bc;
  border-color: #0d96a8;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
	background-color: #10A9BC;
	border-color: #16BACF;	
}
.pagination>li>a, .pagination>li>span{
	color: #10A9BC;
}
.form-control{
	color: #737373;
}
.basket-count-control{
	width: 50px !important;
}
.tooltip{
	font-family: Yekan;
	font-size: 12px;	
}
/*------------------------------------------------------------------
	Box
-------------------------------------------------------------------*/
.box{
	position: relative;
	margin-bottom: 25px;
	background: #FFF;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: 0 0 4px 0 rgba(73,73,73,.1), 0 3px 10px 0 rgba(73,73,73,.1);
	   -moz-box-shadow: 0 0 4px 0 rgba(73,73,73,.1), 0 3px 10px 0 rgba(73,73,73,.1);
			box-shadow: 0 0 4px 0 rgba(73,73,73,.1), 0 3px 10px 0 rgba(73,73,73,.1);
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
}
.box .box-content{
	position: relative;
	z-index: 3;
	min-height: 250px;
	padding: 7px 10px 15px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
}
.box .box-top{
	position: relative;
	background: url(../img/box-top-bg.png) repeat-x bottom;
	padding-bottom: 6px;
	margin-bottom: 10px;
}
.box .box-title-text{
	position: relative;
	top: 6px;
	display: inline-block;
	padding: 0 4px 8px 6px;
	background: url(../img/box-top-text-bg.png) repeat-x bottom;
	color: #838383;
	font-size: 1.1em;
}
.box-arrows{
	position: absolute;
	top: 7px;
	left: 2px;
}
.box-arrows a{
	margin: 0 3px;
}
.box .box-bottom{
}
.box .box-bottom-border{
	width: 100%;
	height: 15px;
	position: absolute;
	left: 0;
	border-bottom: 1px solid #e0e0e0;
	background: #red;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
			border-radius: 8px;
}
.box-bottom-border-1{
	 bottom: 5px;
	 z-index:2;
}
.box-bottom-border-2{
	 bottom: 2px;
	 z-index: 1;
}
.box-text{
	line-height: 200%;
	text-align: justify;
}
/*
 * tabs
 */
.tabs-title{
	margin: 0;
	padding: 0;
}
.tabs-title a,
.tabs-title a:visited{
	display: inline-block;
	position: relative;
	top: 6px;
	font-size: 1.1em;
	padding: 0 4px 8px;
	margin: 0 0 0 15px;	
	color: #8c8c8c;
}
.tabs-title a:hover{
	color: #16BACF;
}
.tabs-title .active a{
	color: #16BACF;
	background: url(../img/box-top-text-bg.png) repeat-x bottom;
}

/*------------------------------------------------------------------
	Product
-------------------------------------------------------------------*/
.product{
	border: 1px solid #e0e0e0;
	padding: 4px;
	margin: 0 4px 10px;
	color: #737373;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;	
}
.product,
.product a,
.product .product-meta{
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
			transition: all .5s ease;
}
.product:hover{
	color: #16bacf;
	border-color: #16bacf;
}
.product img{
	width: 100%;
}
.product img{
	height: 150px;
}
.product.product-lg img{
	height: 200px;
}
.product.product-md img{
	height: 120px;
}
.product .image-effect{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.2);
	   -moz-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.2);
			box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.2);
}
.product .product-image-link{
	display: block;
	position: relative;	
	overflow: hidden;
}
.product .mask{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: visible;
	border: 0px solid rgba(76,191,206,0.7);
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
}
.product .icon-search{
	position: absolute;
	top: 30%;
	z-index: 3;
	opacity:0;
	width: 100%;
	-webkit-transform: scale(0,0);
	   -moz-transform: scale(0,0);
			transform: scale(0,0);
	-webkit-transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
	   -moz-transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
			transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
.product.product-lg .icon-search{
	top: 35%;
}
.product.product-md .icon-search{
	top: 25%;
}
.product:hover .mask{
	opacity: 1;
}
.product:hover .mask{
	border: 100px solid rgba(76,191,206,0.7);	
}
.product:hover .icon-search{
	opacity:1;
	-webkit-transform: scale(1,1);
	   -moz-transform: scale(1,1);
			transform: scale(1,1);
	-webkit-transition-delay:0.3s;
	   -moz-transition-delay:0.3s;
			transition-delay:0.3s;
}
.product.product-md .icon-search{
	-webkit-transform: scale(.8,.8);
	   -moz-transform: scale(.8,.8);
			transform: scale(.6,.6);
}
.product .product-title{
	display: block;
	margin: 5px 2px;
	font-size: 1.1em;
	text-align: justify;
	color: #737373;
}
.product:hover .product-title{
	color: #16BACF;
}
.product.product-md .product-title{
	font-size: .9em;
}
.product .product-meta{
	border-top: 1px solid #e0e0e0;
	padding: 5px 0 0 0;
	margin: 5px 0 0 0;
}
.product:hover .product-meta{
	border-color: #16bacf;
}
.product .product-price{
	font-size: 1.2em;
}
.product.product-md .product-price{
	font-size: 1.1em;
}
.product a.product-add-basket{
	background: #e0e0e0;
	padding: 4px 5px 0px;
}
.product:hover a.product-add-basket{
	background: #16bacf;
}
.product .compare-input{
	display: none;
	position: absolute;
	z-index: 4;
	background: #0d91a2;
	margin: 4px;
	padding: 2px 6px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
}
.product .compare-input label{
	color: #FFF;
	font-weight: normal;
	font-size: .9em;
}
.product .compare-input input{
	float: right;
	margin: 6px 0 0 4px;
}
.product .compare-input.active{
	display: block;
}
.product:hover .compare-input{
	display: block;
}
.product-compare{
	position: relative;
}
.product-compare-link{	
	display: block;
	border: 1px solid #e0e0e0;
	padding: 5px;
	text-align: center;
	font-size: .9em;
	color: #999;
	margin: 0 0 10px;
}
.product-compare-link img{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	display: block;
}
.product-compare .product-compare-remove{
	position: absolute;
	top: -8px;
	right: 9px;
	font-size: 1em;
}
/*------------------------------------------------------------------
	Comments
-------------------------------------------------------------------*/
.comment{
	border-bottom: 1px dashed #ebebeb;
	padding: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.comment-right{ 
	
}
.comment-body{ 
	text-align: justify;
	color: #7e7e7e;
}
.comment-author{
	font-size: 1.1em;
	color: #4b4b4b;
}
.comment-avatar{
	margin: 0 0 0 10px;
}
.comment-avatar img{
	width: 60px;
	height: 60px;
}
.comment-meta{
	color: #999;
	margin: 2px 0;
}
.comment-meta .glyphicon{
	margin: 2px 0 0 5px;
	float: right;
}
.comment:hover{
	background: #fafafa;
}
.comment-form-wrapper .panel-heading .glyphicon{
	float: right;
	margin: 3px 0 0 5px;
}
.comment-form-wrapper .panel-heading{
	font-size: 1.2em;
	color: #6f6f6f;
}
/*------------------------------------------------------------------
	Buttons
-------------------------------------------------------------------*/
.ibtn,
.ibtn:active{
	height: 31px;
	background: url(../img/btn-bg.png) !important;
	background-repeat: repeat-x;
	border: 1px solid #00a3be;
	font-family: Yekan;
	line-height: 0;
}
.ibtn:hover,
.ibtn:active,
.open .ibtn{
	background-position: 0 -31px !important;
	border-color: #0098b1 !important;
}

.ibtn-silver{
	background: url(../img/btn-silver-bg.png) !important;
	border-color: #d3d3d3;
}
.ibtn-silver:hover,
.ibtn-silver:active,
.ibtn-silver:focus{
	background: #fbfbfb !important;
	border-color: #c8c8c8 !important;
}

/*------------------------------------------------------------------
	links list
-------------------------------------------------------------------*/
.links-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.links-list a,
.links-list a:visited{
	display: block;
	color: #afafaf;
	background: #f9f9f9;
	padding: 5px;
	margin: 5px 0;
	text-shadow: 1px 1px 0 #FFF;
	border: 1px solid #f4f4f4;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
			transition: all 0.5s ease;
}
.links-list a:hover{
	background: #f1fdfe;
	color: #16bacf;
	border-color: #e2f7fa;
}
.links-list a .icon{
	float: right;
	margin: 6px 5px 0;
}
.links-list a .glyphicon{
	float: right;
	margin: 3px 0 0 6px;
}
/*------------------------------------------------------------------
	Icons
-------------------------------------------------------------------*/
.icon{
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../img/sprite-image.png) 0 0 no-repeat;
}
.icon-user-register{
	width: 11px;
	height: 14px;
	background-position: 0 0;
}
a:hover .icon-user-register{
	background-position: -11px 0;
}
.icon-user-login{
	width: 12px;
	height: 14px;
	background-position: 0 -16px;
}
a:hover .icon-user-login{
	background-position: -12px -16px;
}
.icon-telphone{
	width: 14px;
	height: 16px;
	background-position: 0 -32px;
}
.icon-email{
	width: 18px;
	height: 15px;
	background-position: 0 -45px;
}
.icon-basket{
	width: 19px;
	height: 16px;
	background-position: 0 -61px;
}
.icon-slider-arrow-right,
.icon-slider-arrow-left{
	width: 47px;
	height: 47px;
	background-position: 0 -118px;
}
.icon-slider-arrow-right{
	background-position: 0 -165px;
}
.icon-box-carousel-left,
.icon-box-carousel-right{
	width: 12px;
	height: 16px;
	background-position: 0 -214px;
}
a:hover .icon-box-carousel-right{
	background-position: -13px -214px;
}
.icon-box-carousel-left{
	background-position: 0 -230px;
}
a:hover .icon-box-carousel-left{
	background-position: -13px -230px;
}
.icon-add-basket{
	width: 24px;
	height: 19px;
	background-position: 0 -247px;
}
.icon-date{
	width: 16px;
	height: 15px;
	background-position: -30px -214px;
}
.icon-feature-basket,
.icon-feature-car,
.icon-feature-time,
.icon-feature-ok{
	width: 64px;
	height: 64px;
	background-position: 0 -267px;
}
.icon-feature-car{
	background-position: 0 -331px;
}
.icon-feature-time{
	background-position: 0 -395px;
}
.icon-feature-ok{
	background-position: 0 -459px;
}
/*
 * footer icons
 */
.icon-circle{
	width: 8px;
	height: 8px;
	background-position: -34px -231px;
}
a:hover .icon-circle{
	background-position: -34px -239px;
}
.icon-location{
	width: 16px;
	height: 21px;
	background-position: -27px 0;
}
.icon-telphone2{
	width: 20px;
	height: 20px;
	background-position: -26px -28px;
}
.icon-email2{
	width: 25px;
	height: 17px;
	background-position: -23px -50px;
}
/*
 * app icons
 */
.icon-app-android,
.icon-app-ios{
	width: 200px;
	height: 55px;
	background: url(../img/apps-sprite.png) no-repeat -200px 0;
}
.icon-app-ios{
	background-position: -200px -55px;
}
a:hover .icon-app-android{
	background-position: 0 0;
}
a:hover .icon-app-ios{
	background-position: 0 -55px;
}
/*
 * social icons
 */
.icon-fb,
.icon-instagram,
.icon-twitter,
.icon-gp{
	width: 32px;
	height: 32px;
	background-position: 0 -525px;	
}
.icon-instagram{
	background-position: 0 -557px;
}
.icon-twitter{
	background-position: 0 -589px;
}
.icon-gp{
	background-position: 0 -621px;
}
a:hover .icon-fb{
	background-position: -32px -525px;
}
a:hover .icon-instagram{
	background-position: -32px -557px;
}
a:hover .icon-twitter{
	background-position: -32px -589px;
}
a:hover .icon-gp{
	background-position: -32px -621px;
}
.icon-search{
	width: 64px;
	height: 64px;
	background: url(../img/icon-search.png) no-repeat center;
}
.icon-li{
	width: 9px;
	height: 11px;
	background-position: 0 -104px;
}
a:hover .icon-li{
	background-position: -11px -104px;
	
}

/*------------------------------------------------------------------
	News Box
-------------------------------------------------------------------*/
.news-box,
.job-box{
	padding: 0 0 10px;
	margin: 0 0 10px;
	border-bottom: 1px dashed #ebebeb;
}
.news-box .news-box-link,
.news-box .news-box-img{
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
			transition: all .5s ease;
}
.news-box .news-box-link,
.job-box .job-box-link{
	font-size: 1.3em;
}
.news-box .news-box-img-link{
	margin-left: 10px;
}
.news-box .news-box-img{
	max-width: 250px;
	padding: 2px;
	border: 1px solid #e0e0e0;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
}
.news-box .news-box-img-link:hover img{
	border-color: #16bacf;
}
.news-box .news-box-text,
.job-box .job-box-text{
	text-align: justify;
	color: #a0a0a0;
	line-height: 200%;
}
.news-box .news-box-date{
	margin: 5px 0 10px;
}
.news-box .news-box-date .glyphicon{
	margin: 0 0 0 3px;
}
.news-more-link{
	margin: 20px 0 0;
	color: #666;
}
@media screen and (max-width:768px){
	.news-box .news-box-img{
		max-width: 100%;
	}
	.news-box .news-box-img-link{
		float: none !important;
	}
}

/*------------------------------------------------------------------
	Jobs Box
-------------------------------------------------------------------*/
.job-box{
	background: #fafafa;
	padding: 5px;
}
.job-box .job-box-meta{
	margin: 10px 0;
	color: #686868;
}
.job-box .job-box-meta .glyphicon{
	font-size: .8em;
}
